// COLORS
$color-background: #fcf8ec;

$color-primary: #f897e5;
$color-primary-light: #4adecc;
$color-primary-dark: #12b5aa;

$color-secondary: #56ff90;
$color-secondary-light: rgb(150, 241, 203);
$color-secondary-2: #70e41a;
$color-secondary-dark: #295e02;

$color-tertiary-light: #913dff;
$color-tertiary-dark: #6a00d4;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;



//BREAKPOINT VARIABLES
// X / 16 = BP(em)

$bp-1760: 110em;
$bp-1350: 84.375em;
$bp-1170: 73.125em;
$bp-1040: 65em;
$bp-900: 56.25em;
$bp-750: 46.875em;
$bp-650: 40.625em;
$bp-500: 31.25em;
$bp-440: 27.5em;
$bp-360: 22.875em;