.footer {
  background-image: url("../images/602861.jpg");
  background-size: contain;
  grid-column: 1 / -1;
  grid-row: 7 / 8;

  padding: 2rem;
  text-align: center;

  &__courtesy {
    font-size: 1.2rem;
  }

  &__text {
    font-size: 1.2rem;

    &--copyright {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
  }



  &-nav {
    list-style: none;
    &__link:link,
    &__link:visited {
      font-size: 1.4rem;
      outline: none;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      padding: 1.5rem;
      display: inline-block;
      align-items: end;
    }
  }
}
