<% include ../partials/header.ejs%>

<footer class="footer">
    <p class="footer__text">Emily Blumenshine</p>
    <p class="footer__text">Reiki | Tarot | Crystal Healing</p>
    <a href="https://www.instagram.com/emily.bloomandshine/" class="footer-nav__link"><i class="fab fa-instagram fa-2x footer-btn"></i></a>
    <a href="https://www.facebook.com/Emily-Blumenshine-Intuitive-ChannelReiki-Master-108032797313043/" class="footer-nav__link"><i class="fab fa-facebook-square fa-2x footer-btn"></i></a>
    <a href="/contact" class="footer-nav__link"><i class="fas fa-envelope-square fa-2x footer-btn"></i></a>
    <p class="footer__text--copyright">
        Custom built by <a class="footer-nav__link footer-btn" style="padding: 0;" href="http://www.kweidner.com">Kyle Weidner</a> &copy; 2020 <br>
    </p>
    <script type="text/javascript"> //<![CDATA[
      var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
      document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
      //]]></script>
    <script language="JavaScript" type="text/javascript">
      TrustLogo("https://www.positivessl.com/images/seals/positivessl_trust_seal_sm_124x32.png", "POSDV", "none");
    </script>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>


<!--NavBar JavaScript Scrolling Effect-->
<script>
  $(function () {
    $(document).ready(function(){
      let $nav = $("#mainNavbar");
      $nav.toggleClass("scrolled", $(this).scrollTop() > 0);
    })
    $(document).scroll(function(){
      let $nav = $("#mainNavbar");
      $nav.toggleClass("scrolled", $(this).scrollTop() > 0);
    })
  })
</script>

<!-- NavBar Responsiveness and Refresh Fix -->
<script>
  $(document).ready(function() {
    let $nb = $(".navigation__button");
    let $bg = $(".navigation__background");
    let $nav = $("#mainNavbar");
    if($bg.css("opacity") > 0) {
      $nb.toggleClass("active");
      $($nav).addClass("clicked");
      $($nav).addClass("scrolled");
      $('body').addClass("scrolloff");
      $($bg).css({ top: '108.44rem'})
    }

    $nb.on('click', function() {
      $($bg).css({ top: '8.488rem' })
      if($nb.hasClass("active")) {
        $("#mainNavbar").removeClass("clicked");
        $('body').removeClass("scrolloff");
      }
      else {
        $('body').addClass("scrolloff");
      }
      $nb.toggleClass("active");
    });
  })
</script>

<!-- NavBar Resizing Fix -->
<script>
  let $bg = $(".navigation__background");
  $( window ).resize(function() {
    let width = $(window).width();
    if(width >= 991){
      $('body').removeClass("scrolloff");
    }
  });
</script>


</body>
</html>