<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sunstone Healing & Wellness </title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon2.ico" />

<!--    Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Dancing+Script:wght@700&family=Great+Vibes&family=Monoton&family=Oxygen:wght@300;400;700&family=Satisfy&display=swap" rel="stylesheet">     <!--    CKEditor CDN-->
    <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>

<!--    Animate.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
<!--    AoS-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<!--    FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>