<div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200" class="reviews__title">
    <h2 class="heading-secondary">Reviews From Satisfied Clients</h2>
</div>
<div class="reviews">

    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500" class="review">
        <div class="review__story">
            <figure class="review__story--shape">
                <img src="/images/review1.jpg" alt="Happy Customer" class="review__story--img">
                <figcaption class="review__story--caption">Alex L.</figcaption>
            </figure>
            <div class="review__story--text">
                <h3 class="heading-tertiary review__story--text-title">Emily radiates so much love and is an amazingly beautiful healer!</h3>
                <p class="review__story--text-p">
                    My reiki session with Emily was SO on point with exactly the healing I needed! 💖 Before the session, the guide she gave me made things very clear and I knew exactly what to do to receive. She literally touched on everything that’s been weighing on me and helped me find clarity on some shadow work that I’ve been struggling with. She made me feel super held, safe and free to be completely 100% me. In the middle of the session while I was receiving, this wave of giddiness and bliss washed over me like I was a child again- and funny enough she even mentioned child-like play in the typed out reading I received immediately after the session. Emily radiates so so much love and is an amazingly beautiful healer full of light and wisdom. I highly recommend her services and I look forward to booking her for more sessions to come! 🌈✨
                </p>
            </div>
        </div>
    </div>

    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="700" class="review">
        <div class="review__story">
            <figure class="review__story--shape">
                <img src="/images/review2.jpg" alt="Happy Customer" class="review__story--img">
                <figcaption class="review__story--caption">Chris L.</figcaption>
            </figure>
            <div class="review__story--text">
                <h3 class="heading-tertiary review__story--text-title">Definitely recommend a session with Emily. You won't regret it!</h3>
                <p class="review__story--text-p">
                    If you're like me, you might be a little skeptical about doing Reiki. However after a session with Emily, I feel refocused and rebalanced! For someone who struggles with a lot of stress and anxiety, especially during this pandemic, I found Reiki to be a good way to heal my mind, body, and spirit. Emily is the perfect channel to allow the universe's energy to flow through you as she not only makes sure that you are well prepared, but also she's there for you if you need any clarity or affirmation from the universe. Emily is a 10/10 person, guide, and healer, so definitely recommend a session with her. You wont regret it!
                </p>
            </div>
        </div>
    </div>

    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="900" class="review">
        <div class="review__story">
            <figure class="review__story--shape">
                <img src="/images/review3.jpg" alt="Happy Customer" class="review__story--img">
                <figcaption class="review__story--caption">Jessy M.</figcaption>
            </figure>
            <div class="review__story--text">
                <h3 class="heading-tertiary review__story--text-title">The emotional weight that is lifted off of my shoulders is enough to keep me coming back for more!</h3>
                <p class="review__story--text-p">
                    I have done two separate Reiki energy sessions with Emily and I have felt so calm and pure after each one. The emotional weight that is lifted off of my shoulders is enough to keep me coming back for more, but the pure love, joy, and universal connection I have experienced each time is the real draw. I can’t thank Emily enough for everything she has done for me, and would recommend her services to anyone.
                </p>
            </div>
        </div>
    </div>
</div>