<div class="secondaryheader__header">
    <div class="secondaryheader__header--bg">

    </div>

    <div class="secondaryheader__header--content">
        <% if(title === 'Posts Index') { %>
            <div class="secondaryheader__header--content-primary">
                <h1 class="heading-secondary heading-primary--main">Welcome to my Blog</h1>
            </div>
            <div class="secondaryheader__header--content-secondary">
                <h2 class="heading-primary--sub">Stay Tuned For More!</h2>
            </div>
        <% } %>

        <% if(title === 'Services Page') { %>
            <div class="secondaryheader__header--content-primary">
                <h1 class="heading-secondary heading-primary--main">Offerings</h1>
            </div>
            <div class="secondaryheader__header--content-secondary">
                <h2 class="heading-primary--sub">More Coming Soon...</h2>
            </div>
        <% } %>

        <% if(title === 'About Page') { %>
            <div class="secondaryheader__header--content-primary">
                <h1 class="heading-secondary heading-primary--main">About Section</h1>
            </div>
            <div class="secondaryheader__header--content-secondary">
                <h2 class="heading-primary--sub">About me and what I do</h2>
            </div>
        <% } %>

    </div>
</div>