<div class="videoheader-body">
    <div class="videoheader-body__video">
        <video class="videoheader-body__video--content" autoplay muted loop>
            <source src="images/sunsetvideo.mp4" type="video/mp4">
            <source src="images/sunsetvideo.webm" type="video/webm">
            Your browser is not supported!
        </video>
    </div>
    <div class="header__content">
        <h1 class="heading-primary ">
            <span class="heading-primary--sub animate__animated animate__fadeInUp animate__slow">Welcome to</span>
            <span class="heading-primary--main animate__animated animate__fadeInUp animate__slow">SUNSTONE</span>
            <span class="heading-primary--sub animate__animated animate__fadeInUp animate__slow">Healing & Wellness</span>
            <span class="heading-primary--btn animate__animated animate__fadeInUp animate__slower"><a href="#about" class="btn btn--white"><i class="fas fa-chevron-down"></i></a></span>
        </h1>
    </div>

    <div class="animated-wave" aria-hidden="true">
        <div class="animated-wave__wrapper">
            <div class="animated-wave__wave">

            </div>
        </div>
    </div>
</div>