<% include ./partials/header.ejs %>
<% include ./partials/navbar.ejs %>

<section class="about-main">
    <div class="">
        <% include ./partials/secondaryHeader.ejs %>
    </div>
    <div class="about-page">

        <header class="about-container">
            <div class="about-page__header">
                <h2 class="heading-secondary">My Story</h2>
            </div>

            <div class="about-page__description">
                <p>I haven’t always been in touch with my energy. Growing up I was always told that I was too sensitive or emotional. It was because I was not only feeling my own energy,
                    but I was also acquiring everyone else’s around me. I always had a hard time meeting new people and being
                    in large groups because it would literally overwhelm me. I had no idea how to energetically protect myself!
                    I always saw my sensitivities as a flaw. It wasn’t until adulthood that I truly understood that these
                    were Divine gifts that I needed to access in order to move toward what is truly for my highest good, and
                    therefore for the highest good of those around me.
                    <br><br>
                    When I first started learning Reiki, I was skeptical.
                    I couldn’t fathom that I could send such Divine, magical energy through my hands to benefit other people
                    – especially not long distance. Through practice and experiencing it first-hand I saw my purpose.
                    <strong>My purpose is that of an Intuitive Channel to aid in the healing of myself and the Collective.</strong>
                    I heal myself, so that I may heal others. I truly, 100% believe that channeling this Divine energy is
                    my Soul’s purpose in this lifetime. We all deserve to feel the unconditional, unfiltered love that the
                    Universe is begging to give us.
                    <br><br>
                    I am here to help you make that connection. I am here to aid in your
                    healing so that you may access your own energy so that you may live your life fully and feel held and
                    supported by the Universe. You are Divine. We all are. The fact that we are living here on this planet
                    in this time and place is pure magic!
                    <br><br>

                    <br><br>


                </p>
                <p id="love">
                    <strong><em>I love you. The Universe loves you. Let’s heal together.</em></strong>
                </p>
            </div>
        </header>

        <section class="section-about-blocks">
            <div class="about-blocks">
                <div class="about-page__header">
                    <h2 class="heading-secondary">welcome to your healing journey</h2>
                </div>

                <div class="about-blocks__container">
                    <div class="about-blocks__image-text about-blocks__image-text--right">
                        <div class="about-blocks__image-wrapper">
                            <img src="images/aboutpic1.JPG" alt="About Page Image" class="about-blocks__image">
                        </div>
                    </div>
                    <div class="about-blocks__text-wrapper">
                        <div class="about-blocks__text-wrapper--content">
                            <h2 class="about-blocks__title">What is Reiki?</h2>
                            <div class="about-blocks__paragraph">
                                <p>
                                    Reiki is a healing modality that helps activate your bodies natural healing processes which promotes
                                    physical and emotional well-being!
                                    <br><br>
                                    Reiki is an intelligent Universal energy that is present all around
                                    us, in all things always. It never goes away. Anyone can access it. It is your human right to receive and
                                    utilize this energy to remove blockages so that you may align with what is for your highest good. You
                                    deserve to feel not just good, but AMAZING! Reiki intuitively goes where it is wanted and needed in order
                                    to fill you up with infinite love and allow Divine connection to take place. The process of Reiki can
                                    transcend time and space. Love and energy know no bounds! Even from a distance, Reiki can have tremendous
                                    benefits.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-blocks">
                <div class="about-blocks__container">
                    <div class="about-blocks__image-text about-blocks__image-text--left">
                        <div class="about-blocks__image-wrapper">
                            <img src="images/about1.jpg" alt="About Page Image" class="about-blocks__image">
                        </div>
                    </div>
                    <div class="about-blocks__text-wrapper about-blocks__text-wrapper--right">
                        <div class="about-blocks__text-wrapper--content">
                            <h2 class="about-blocks__title">The Process of Reiki</h2>
                            <div class="about-blocks__paragraph">
                                <p>
                                    Through the process of Reiki, I can assess where blockages are occurring in your energy body.
                                    The first step to removing a blockage is identifying it. Once we have identified these blockages, we can
                                    use crystals and Reiki to help aid in removing the blockage so you can have full, clear access to that
                                    energy center! Our energy centers (or Chakras) are integral in understanding what is and is not for our
                                    highest good. Accessing these centers can effectively guide us on our journey and allow real healing and
                                    transformation to take place.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-blocks__container">
                <div class="about-blocks__image-text about-blocks__image-text--right">
                    <div class="about-blocks__image-wrapper">
                        <img src="images/aboutpic3.jpg" alt="About Page Image" class="about-blocks__image">
                    </div>
                </div>
                <div class="about-blocks__text-wrapper" id="text3">
                    <div class="about-blocks__text-wrapper--content">
                        <h2 class="about-blocks__title">Access Your Divine Gifts</h2>
                        <div class="about-blocks__paragraph">
                            <p>
                                Have you ever had a ‘gut’ feeling? Or felt something so deeply that you can
                                physically feel it in your heart? You accessed your energy centers! These physical feelings are amazing
                                indicators and helpers. Trust those feelings. Get to know those feelings. Reiki can help you get in touch
                                with each energy center to realize your full potential and access your power! As we work through whatever
                                blockages are present – we must dedicate ourselves to the process. Sometimes it is not pretty. Sometimes
                                it can be confrontational and uncomfortable. Those are only just the first steps! Once you identify and
                                harness your energy to remove these blockages, the possibilities are endless.
                            </p>
                        </div>
                    </div>

                </div>
            </div>



            <div class="about-blocks__text dancing-font">
                <h2>Are you ready to start your energy healing journey? I am here to channel that unfiltered love from the Universe straight to you. Let’s heal together.</h2>
            </div>
            <div class="about-blocks__text--btn">
                <a href="/offerings" class="btn btn--primary">Offerings</a>
            </div>
        </section>



    </div>

</section>

<% include ./partials/footer.ejs %>