<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<section class="services-section">
    <div class="services-page">
        <div class="">
            <% include ../partials/secondaryHeader.ejs%>
        </div>

        <div class="services-page__product">
            <div class="services-page__product--container">
                <div class="product-info__title">
                    <h2>Energy Assessment & Re-Alignment</h2>
                </div>
                <div class="services-page__product--left">
                    <div class="services-page__product--left-image">

                    </div>
                </div>
                <div class="services-page__product--right">
                    <div class="product-info">
                        <div class="product-info__content">
                            <div class="product-info__details">
                                <p class="product-info__details--includes">Details of this offering:</p>
                                <ul class="product-info__details--list">
                                    <li><p>During this session I channel Universal Reiki Energy through a surrogate to assess each one of your energy centers and where there may be blockages or excess energy residing.</p></li>
                                    <li><p>After, I write out any messages/visions/downloads that came to me during our connection.</p></li>
                                    <li><p>I then get in touch with your guides/angels to provide guidance on how to properly care for these blockages/excesses and any other messages that come through.</p></li>
                                    <li><p>After our session is complete, I will video call you and we can discuss the results of your session and your reading!</p></li>
                                </ul>
                            </div>
                            <div class="product-info__price">
                                <h3>Only $177</h3>
                                <div class="product-info__btn">
                                    <a href="/offerings/purchase" class="btn btn--primary">Book Now</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="product-info__mobileprice">
                    <h3 class="product-info__mobileprice--cost">Only $177</h3>
                    <div class="product-info__btn">
                        <a href="/offerings/purchase" class="btn btn--primary">Book Now</a>
                    </div>
                </div>
            </div>
        </div>

<!--        <div class="offerings-page__details">-->
<!--            <h2 class="heading-secondary">What You Will Need</h2>-->
<!--            <div>-->
<!--                <p>This is a paragraph within a div</p>-->
<!--                <p>This is a paragraph within a div</p>-->
<!--            </div>-->
<!--        </div>-->

        <div class="services-page__reviews">
            <% include ../partials/reviews.ejs%>
        </div>

    </div>
</section>

<% include ../partials/footer.ejs %>