<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>

<section class="thanks-section">
    <div class="thanks-page">
        <div class="thanks-page__content">
            <h2 class="heading-secondary thanks-page__content--title">
                Thanks for your inquiry!
            </h2>
            <p class="thanks-page__content--text">
                I usually respond in a couple of hours.
            </p>
            <a href="/" class="btn btn--primary">Return to Main Page</a>
        </div>
    </div>
</section>

<% include ../partials/footer.ejs %>